<a href="https://colab.research.google.com/github/sergiochaza/sqlite/blob/main/sql_coder_house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3

In [2]:
#Funciones ya cargadas para un futuro, conexion a la base de datos
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except sqlite3.Error as e:
        print(f"The error '{e}' occurred")

In [3]:
#Ejemplo con Base David
ruta = "/content/Clase 3 - Redes.sqlite" #Ruta, path es lo mismo
sql = sqlite3.connect(ruta)
cursor = sql.cursor() #Cursor es el objeto que majena las consultas dentro del motor de base de datos

In [4]:
#Explorar la base de datos
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())
#sqlite_master es para mostrar la base de datos

[('users',), ('sqlite_sequence',), ('posts',), ('comments',), ('likes',)]

# CREATE (CREACIÓN DE TABLAS)

In [6]:
#CREAMOS UNA NUEVA TABLA "usuarios"
crear_tabla_usuarios = """
CREATE TABLE usuarios (
    id_usuario INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    age INTEGER NOT NULL,
    gender TEXT,
    nacionality TEXT NOT NULl
);
"""
execute_query(sql,crear_tabla_usuarios)

Query executed successfully

In [7]:
create_table_post = """
CREATE TABLE posteos (
    id_posteo INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    id_usuario INTEGER NOT NULL,
    FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario)
);
"""
#Exite relacion de uno a muchos entre los usuarios y las publicaciones,
#la clave extera id_usuario en la tabla de publicaciones que hacer referencia,
#a la columna de identificación en la tabla de usuarios
execute_query(sql,create_table_post)

Query executed successfully

In [8]:
crear_tabla_comentarios = """
CREATE TABLE comentarios (
    id_comentario INTEGER PRIMARY KEY AUTOINCREMENT,
    text TEXT NOT NULL,
    id_posteo INTEGER NOT NULL,
    id_usuario INTEGER NOT NULL,
    FOREIGN KEY (id_usuario) REFERENCES usuraio (id_usuario) FOREIGN KEY (id_posteo) REFERENCES posteos (id_posteo)
);
"""
execute_query(sql,crear_tabla_comentarios)

Query executed successfully

In [9]:
crear_tabla_gustos = """
CREATE TABLE IF NOT EXISTS gustos (
    id_gusto INTEGER PRIMARY KEY AUTOINCREMENT,
    id_usuario INTEGER NOT NULL,
    id_posteo INTEGER NOT NULL,
    FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario) FOREIGN KEY (id_posteo) REFERENCES posteos (id_posteo)
);
"""
execute_query(sql,crear_tabla_gustos)

Query executed successfully

In [10]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('users',), ('sqlite_sequence',), ('posts',), ('comments',), ('likes',), ('usuarios',), ('posteos',), ('comentarios',), ('gustos',)]

# ALTER (Modificar Tabla)

In [11]:
#Modificar la tabla
modificar_tabla_usuarios = """
ALTER TABLE 'usuarios'
RENAME COLUMN 'name' to 'nombres';
"""
execute_query(sql,modificar_tabla_usuarios)

Query executed successfully

In [12]:
#Pragma_table muestra los atributos
cursor.execute("SELECT * FROM pragma_table_info('Usuarios');")
print(cursor.fetchall())

[(0, 'id_usuario', 'INTEGER', 0, None, 1), (1, 'nombres', 'TEXT', 1, None, 0), (2, 'email', 'TEXT', 1, None, 0), (3, 'age', 'INTEGER', 1, None, 0), (4, 'gender', 'TEXT', 0, None, 0), (5, 'nacionality', 'TEXT', 1, None, 0)]

In [13]:
#Agregar Columna
agregar_columnas_usuarios = """
ALTER TABLE 'usuarios'
ADD COLUMN 'apellidos' TEXT;
"""
execute_query(sql,agregar_columnas_usuarios)

Query executed successfully

#INSERTAR DATOS

In [14]:
crear_usuarios = """
INSERT INTO usuarios (nombres,email, age, gender, nacionality)
VALUES
  ('James','f@gmail.com', 25, 'hombre', 'USA'),
  ('Leila','a@gmail.com', 32, 'mujer', 'France'),
  ('Brigitte','j@gmail.com', 35, 'mujer', 'England'),
  ('Mike','c@gmail.com', 40, 'hombre', 'Denmark'),
  ('Elizabeth','e@gmail.com', 21, 'mujer', 'Canada');
  """
execute_query(sql,crear_usuarios)

Query executed successfully

In [15]:
query = "select * from usuarios"
cursor.execute(query)
print(cursor.fetchall())

[(1, 'James', 'f@gmail.com', 25, 'hombre', 'USA', None), (2, 'Leila', 'a@gmail.com', 32, 'mujer', 'France', None), (3, 'Brigitte', 'j@gmail.com', 35, 'mujer', 'England', None), (4, 'Mike', 'c@gmail.com', 40, 'hombre', 'Denmark', None), (5, 'Elizabeth', 'e@gmail.com', 21, 'mujer', 'Canada', None)]

#DROP/TRUNCATE (Eliminación de tablas)

In [16]:
eliminar_tabla_comentarios = """DROP TABLE gustos"""
execute_query(sql,eliminar_tabla_comentarios)

Query executed successfully

In [17]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('users',), ('sqlite_sequence',), ('posts',), ('comments',), ('likes',), ('usuarios',), ('posteos',), ('comentarios',)]

#DELETE (Eliminación de registros)

In [18]:
delete_tabla_de_usuarios = """ DELETE FROM usuarios WHERE id_usuario = 2;"""
execute_query(sql,delete_tabla_de_usuarios)

Query executed successfully

In [19]:
cursor.execute("SELECT * FROM usuarios")
print(cursor.fetchall())

[(1, 'James', 'f@gmail.com', 25, 'hombre', 'USA', None), (3, 'Brigitte', 'j@gmail.com', 35, 'mujer', 'England', None), (4, 'Mike', 'c@gmail.com', 40, 'hombre', 'Denmark', None), (5, 'Elizabeth', 'e@gmail.com', 21, 'mujer', 'Canada', None)]

In [20]:
delete_tabla_de_usuarios = """ DELETE FROM usuarios ;"""
execute_query(sql,delete_tabla_de_usuarios)

Query executed successfully

#UPDATE(Actualizar datos de un registro)

In [21]:
#Pragma_table muestra los atributos
cursor.execute("SELECT * FROM pragma_table_info('users');")
print(cursor.fetchall())

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 1, None, 0), (2, 'age', 'INTEGER', 0, None, 0), (3, 'gender', 'TEXT', 0, None, 0), (4, 'nationality', 'TEXT', 0, None, 0)]

In [22]:
actualizacion_de_datos = """
UPDATE users
SET name = 'German', age = 24, gender = 'hombre'
WHERE id = 1;
"""
execute_query(sql,actualizacion_de_datos)

Query executed successfully

In [23]:
cursor.execute("SELECT * FROM users")
print(cursor.fetchall())

[(1, 'German', 24, 'hombre', 'USA'), (2, 'Leila', 32, 'mujer', 'France'), (3, 'Brigitte', 35, 'mujer', 'England'), (4, 'Mike', 40, 'hombre', 'Denmark'), (5, 'Elizabeth', 21, 'mujer', 'Canada'), (6, 'James', 25, 'hombre', 'USA'), (7, 'Leila', 32, 'mujer', 'France'), (8, 'Brigitte', 35, 'mujer', 'England'), (9, 'Mike', 40, 'hombre', 'Denmark'), (10, 'Elizabeth', 21, 'mujer', 'Canada')]

#SELECT(Selección de Tablas, Bases)

In [24]:
#Consulta de Tablas
cursor.execute("SELECT name from sqlite_master where type='table';")
print(cursor.fetchall())

[('users',), ('sqlite_sequence',), ('posts',), ('comments',), ('likes',), ('usuarios',), ('posteos',), ('comentarios',)]

In [25]:
query = "select * from users"
cursor.execute(query)
print(cursor.fetchall())

[(1, 'German', 24, 'hombre', 'USA'), (2, 'Leila', 32, 'mujer', 'France'), (3, 'Brigitte', 35, 'mujer', 'England'), (4, 'Mike', 40, 'hombre', 'Denmark'), (5, 'Elizabeth', 21, 'mujer', 'Canada'), (6, 'James', 25, 'hombre', 'USA'), (7, 'Leila', 32, 'mujer', 'France'), (8, 'Brigitte', 35, 'mujer', 'England'), (9, 'Mike', 40, 'hombre', 'Denmark'), (10, 'Elizabeth', 21, 'mujer', 'Canada')]

#Generar DataFrame en Pandas

In [26]:
#Generar una consulta en padas
df = pd.read_sql_query(query,sql)

In [27]:
df

   id       name  age  gender nationality
0   1     German   24  hombre         USA
1   2      Leila   32   mujer      France
2   3   Brigitte   35   mujer     England
3   4       Mike   40  hombre     Denmark
4   5  Elizabeth   21   mujer      Canada
5   6      James   25  hombre         USA
6   7      Leila   32   mujer      France
7   8   Brigitte   35   mujer     England
8   9       Mike   40  hombre     Denmark
9  10  Elizabeth   21   mujer      Canada

In [28]:
query = "select * from posts"
cursor.execute(query)
print(cursor.fetchall())

[(1, 'Feliz', 'Me siento feliz hoy', 1), (2, 'Caliente', 'El clima esta caliente hoy', 2), (3, 'Ayuda', 'Necesito ayuda en esto', 2), (4, 'Buenas noticias', 'Me casare pronto', 1), (5, 'Juego interesante', 'Fue genial jugar al tenis', 5), (6, 'Fiesta', 'Alguno quiere venir a esta fiesta hoy?', 3), (7, 'Feliz', 'Me siento feliz hoy', 1), (8, 'Caliente', 'El clima esta caliente hoy', 2), (9, 'Ayuda', 'Necesito ayuda en esto', 2), (10, 'Buenas noticias', 'Me casare pronto', 1), (11, 'Juego interesante', 'Fue genial jugar al tenis', 5), (12, 'Fiesta', 'Alguno quiere venir a esta fiesta hoy?', 3)]

In [29]:
#Puedo pasar a DataFrame una Consulta de forma directa
#Puede quedar una consulta pre armada e ir cargado por necesidad
#De uso
pd.read_sql_query(query,sql)

    id              title                             description  user_id
0    1              Feliz                     Me siento feliz hoy        1
1    2           Caliente              El clima esta caliente hoy        2
2    3              Ayuda                  Necesito ayuda en esto        2
3    4    Buenas noticias                        Me casare pronto        1
4    5  Juego interesante               Fue genial jugar al tenis        5
5    6             Fiesta  Alguno quiere venir a esta fiesta hoy?        3
6    7              Feliz                     Me siento feliz hoy        1
7    8           Caliente              El clima esta caliente hoy        2
8    9              Ayuda                  Necesito ayuda en esto        2
9   10    Buenas noticias                        Me casare pronto        1
10  11  Juego interesante               Fue genial jugar al tenis        5
11  12             Fiesta  Alguno quiere venir a esta fiesta hoy?        3

In [30]:
#Exportamos a un archivo csv/excel
pd.read_sql_query(query,sql).to_csv('comments.csv')